$roboto: 'Roboto', sans-serif;


//Colors
$white: #fff;
$black: #000;
$gray: #848484;
$orange: #f97000;


// Breakpoints for responsivns 

$xxl:1440px;
$xl: 1199px;
$lg: 991px;
$md: 768px;
$sm: 575px;