.kproduct {

color: $white;
display: block;
align-items: center;
justify-content: center

   picture {

      position: relative;

   }

   img {

     @media (max-width: 1920px) {

        width: 100%;
     }
   }

   .text {

    

     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;

     @media (max-width: 1920px) {

      top: 35%;
     }

     @media (max-width: $xxl) {

    top: 24%;

  }

  @media (max-width: 1024px) {

    top:18%;
  }

  @media (max-width: $lg) {

    top: 20%;
  }

  @media (max-width: $md) {

    top: 21%;
    left: 50%;
  }


  @media (max-width: $sm) {

    top: 15%;
    left: 47%;
  }




     h1 {

        font-size: 1.5em;
        margin: 0;
        font-weight: 400;

        @media (max-width: $sm) {

          font-size: 0.875em;
        }

     }


     p {

        font-size: 5.75em;
        line-height: 1.097826em;
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;

        @media (max-width: $xxl) {

          font-size: 87px;
        }

        @media (max-width: $xl) {

          font-size: 62px;
        }

        @media (max-width: $lg) {

          font-size: 45px;
        }



        @media (max-width: $sm) {

          font-size: 1.5em;
        }


     }
   }

  
}

// FOR FILTER AND BUTTON CSS

 section.filter-text {

  text-align: center;
  margin-top: 60px;




   p {

     width: 754px;
     color: #bbb;
     font-size: 1.125em;
     font-weight: 300;
     margin: 0 auto;

     @media (max-width: $sm) {

        width: 100%;
        padding: 2px;
     }
     
    
   }

   .myBtnContainer {

       margin-top: 30px;
       margin-bottom: 30px;
       display: block;


       .btn  {

          border: none;
          outline: none;
          padding: 12px 16px;
          background-color: #252525;
          cursor: pointer;
          color: #8e8e8e;
          border-radius: 20px;
          margin: 4px 4px;
          transition-duration: 0.4s;

              

          
       }

       .btn:hover {

          background-color: $white;
        
        }

   }

}

//FOR PRODUTCT CSS (KEYBOARDS)


.Bitno {

 * {

       box-sizing: border-box;
 }

}


.row {

    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 65px;

    @media (max-width: $xl) {

       margin-left: 60px;
       margin-right: 50px;
       margin-bottom: 50px;
    }

    @media (max-width: $md) {

       margin-left: 15px;
       margin-right: 23px;
       margin-bottom: 45px;

    }

    @media (max-width: $sm) {

      margin-left: -6px;
      margin-right: 8px;
      margin-bottom: 15px;

    }
}



/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */

  @media (max-width: $md) {

     width: 50%;
  }

  @media (max-width: $sm) {

    width: 100%;
  }

  
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background: radial-gradient(ellipse at center, 
          rgba(48,48,48,1) 0%,rgba(24,24,24,1) 100%);
  margin: 0 0 35px 35px;

  @media (max-width: $xl) {

    margin: 0 0 20px 20px;
  }

  @media (max-width: $md) {

     margin: 0 0 15px 15px;
  }

  @media (max-width: 320px) {
    
        margin: 0 0 7px 13px;
  }




  

  h2 {
       padding-left: 16px;
       font-size: 1.375em;
       line-height: 1;
       font-weight: 400;
       color: $white;
       cursor: pointer;

       @media (max-width: $xl) {

         font-weight: 250;
         font-size: 1em;
      }

     }

  p {

       margin-top: .5em;
       font-weight: 300;
       line-height: 1;
       color: #a9a9a9;
       padding-left: 16px;
       padding-bottom: 20px;
       cursor: pointer;

       @media (max-width: $xl) {

         font-weight: 200;
         font-size: 0.9em;
         
      }


    }

    img {
      width: auto;
      height: auto;
      cursor: pointer;

      @media (max-width: 1920px) {

        width: 515px;
      }

      @media (max-width: $xxl) {

         width: 370px;
      }

      @media (max-width: $xl) {

         width: 280px;
      }

      @media (max-width: $md) {

        width: 320px;
      }


      @media (max-width: $sm) {

        width: 530px;
      }

      @media (max-width: 425px) {

        width: 375px;
      }

      @media (max-width: 375px) {

        width: 320px;
      }

      @media (max-width: 320px) {

        width: 270px;
      }

    }

  img:hover {

    overflow:hidden;
    transition: all 0.4s;
    transform: scale(1.1);
  }


  a {

    text-decoration: none;
  }



    
  
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}



/*  .contentRow {

  


  


      div.single-product {

        width: 500px;
        height: 450px;
        background: radial-gradient(ellipse at center, 
          rgba(48,48,48,1) 0%,rgba(24,24,24,1) 100%);


        img {

          width: 390px;
          margin: 0 55px;
        }

        img:hover {

                 overflow:hidden;
                 transition: all 0.4s;
           transform: scale(1.2);
        }

        h2 {

          padding-left: 16px;
          font-size: 1.375em;
          line-height: 1;
          font-weight: 400;
        }

        p {

             margin-top: .5em;
             font-weight: 300;
             line-height: 1;
             color: #a9a9a9;
             padding-left: 16px;
        }


      }

      



   }

*/